version: 1.1.0.{build}
configuration:
- Debug
- Release
platform: Any CPU
init:
- ps: >-
    $server = "(local)\SQL2014"
    $database = "AdventureWorks"

    # Replace the db connection with the local instance.
    $configPath = "$($env:appveyor_build_folder)\EntityFramework.Functions.Tests\bin\$($env:CONFIGURATION)\EntityFramework.Functions.Tests.dll.config"
    $config = (gc $configPath) -as [xml]
    $config.SelectSingleNode('//connectionStrings/add[@name="AdventureWorksConnectionString"]').connectionString = "Server=$server; Database=$database; Trusted_connection=true"
    $config.Save($configPath)
    
    # Attach mdf to local instance.
    $databaseDirectory = "$($env:appveyor_build_folder)\Data"
    $mdfPath = join-path $databaseDirectory "AdventureWorks_Data.mdf"
    $ldfPath = join-path $databaseDirectory "AdventureWorks_Log.ldf"
    sqlcmd -S "$server" -Q "Use [master]; CREATE DATABASE [$database] ON (FILENAME = '$mdfPath'),(FILENAME = '$ldfPath') FOR ATTACH"
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'
environment:
  EnableNuGetPackageRestore: true
services: mssql2014
install:
- ps: 
before_build:
- cmd: nuget restore -verbosity detailed
build:
  verbosity: detailed
notifications:
- provider: Email
  to:
  - dixinyan@live.com
  subject: AppVeyar EntityFramework.Functions
  on_build_success: true
  on_build_failure: true
  on_build_status_changed: true